@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Basier Square';
    src: url('../fonts/SourceSansPro-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}


html,
body,
#app,
#root {
  @apply relative mx-auto min-h-screen w-full;
  max-width: 1440px;
  @apply text-gray1 font-normal;

}

* {
  scrollbar-width: thin;
  scrollbar-color: #244462 white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  /* /margin-left: -8px; */
}

::-webkit-scrollbar-thumb {
  height: 2px;
  border: 2px solid rgba(0 0 0 / 0%);
  border-radius: 4px;
  background-color: rgba(0 0 0 / 25%);
  background-clip: padding-box;
  transition: background-color 0.35s ease;
}

:hover::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0 0 0 / 100%);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.Vue-Toastification__toast {
  border-radius: 4px !important;
}

.Vue-Toastification__toast--success {
  background-color: #080 !important;
}
